[Unit]
Description=Tallessa - Effortless Asset Management

[Socket]
ListenStream=/run/tallessa/socket
SocketUser=tallessa
SocketGroup=tallessa

[Install]
WantedBy=sockets.target
